* {
  --black: #363438;
  --grey: #8d8c8a;
  --white: #f6f6f6;
  --hover: #3b393d;
  --blue: #52d6f4;
}

.form-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 600px;
  gap: 20px;
  background-image: linear-gradient(
    to left bottom,
    #f6f6f6,
    #dbdadb,
    #c1bfbf,
    #a7a5a4,
    #8d8c8a
  );
  color: var(--black);
  border-radius: 10px;
  position: relative;
}

.container #info-form,
.container #ex-form,
.container #edu-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  border-radius: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  height: 25px;
  padding-left: 5px;
  font-size: 16px;
}

textarea {
  padding-left: 5px;
  padding-top: 3px;
  font-size: 12px;
}

h2 {
  text-align: center;
}

button {
  background-color: var(--black);
  color: var(--white);
}

button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

button.next-button,
button.prev-button {
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
  font-size: 0.97rem;
  border: none;
  background-color: var(--blue);
  color: var(--black);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}

button.prev-button:hover,
button.next-button:hover {
  box-shadow: none;
}

button.prev-button {
  position: absolute;
  bottom: -50px;
  left: 0;
}

button.next-button {
  position: absolute;
  bottom: -50px;
  right: 0;
}

span.optional {
  font-size: 0.8rem;
  color: var(--blue);
}

button.submit {
  margin-top: 20px;
  align-self: flex-end;
  border: none;
  width: 6rem;
  height: 1.9rem;
  border-radius: 15px;
  font-size: 0.97rem;
}

button.delete {
  border: none;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}

ul.form-ul {
  align-self: flex-start;
}

li.form-list {
  list-style: circle inside;
  margin-bottom: 5px;
  margin-left: 60px;
}

li.form-list:last-child {
  margin-bottom: 0;
}

.fade {
  transition: all 0.5s;
}
