.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.form-container #info-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  width: 300px;
  border: 1px solid #000;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  height: 25px;
  padding-left: 5px;
  font-size: 18px;
}

h2 {
  text-align: center;
}

button.next-button {
  align-self: flex-end;
}
