* {
  --dark-grey: #6c757d;
  --darker-grey: #343a40;
  --black: #212529;
  --grey: #dee2e6;
  --lighter-grey: #e9ecef;
  --white: #f8f9fa;
}

.full-name {
  text-align: center;
}

.resume-container {
  flex-shrink: 0;
  flex-grow: 0;
  height: 29.7cm;
  width: 21cm;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--main-text-color);
  /* outline: 10px solid var(--sage); */
}

.resume-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0 15px 0;
}

.personal-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section {
  font-size: 1.3rem;
  color: var(--sage);
  font-weight: bold;
  border-bottom: 3px solid var(--sage);
  padding-bottom: 7px;
  padding-left: 10px;
}

ul.list {
  margin-top: 7px;
  padding: 0 15px 0 10px;
}

li.experience-list-item {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 25px 1fr;
}

li.experience-list-item:last-child {
  margin-bottom: 0;
}

.experience-title {
  grid-column: 1/2;
  font-weight: bold;
}

.experience-name {
  grid-column: 2/3;
  font-weight: bold;
  font-size: 1.2rem;
  justify-self: center;
}

.experience-location {
  grid-column: 2/3;
  justify-self: center;
}

.experience-description {
  grid-row: 3/4;
  grid-column: 1/4;
  margin-top: 5px;
  padding-left: 2.5rem;
  line-height: 1.2;
}

.experience-date {
  justify-self: end;
  font-weight: bold;
}

span.edu-degree {
  font-weight: bold;
}

span.edu-school {
  font-weight: bold;
}

.edu-list-item {
  list-style: inside;
  padding-left: 2.5rem;
}

.edu-date {
  float: right;
  font-weight: bold;
}
